.tabs li {
  display: block; }

.tabs .labels:after {
  content: '';
  display: table;
  clear: both; }

.tabs label {
  display: inline-block;
  float: left;
  cursor: pointer; }
  .tabs label :hover {
    /*background: #3498db;*/ }

.tabs .tab-content {
  display: none; }

.tabs .tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
          animation: scale 0.7s ease-in-out; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.tabs input[type=radio] {
  display: none; }

.tabs [id^=tab]:checked ~ article[id^=tab-content] {
  display: block; }
