.tabs {

	li {
		display: block;
	}

	.labels {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	

	label {
		display: inline-block;
		float: left;
		cursor: pointer;
		:hover {
			/*background: #3498db;*/
		}
	}
	.tab-content {
		display: none;
	}
	.tab-content * {
		animation: scale 0.7s ease-in-out;
	}
	@keyframes scale {
		0% {
			transform: scale(0.9);
			opacity: 0;
		}
		50% {
			transform: scale(1.01);
			opacity: 0.5;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}	

	input[type=radio] {
		display:none;
	}

	[id^=tab]:checked ~ article[id^=tab-content] {
		display: block;
	}
}