//GLOBAL VARIABLES
$color-base: #f4f4f4;
$color-light: #E0E0E0;
$color-dark:#999;
$color-brand: #ffdb15;
$color-important: #900;
$color-notice: #dcf1fa;
$color-buyer: #cfe2fc;
$color-buyer-contrast: #2f6ba4;
$color-seller: #dbebd4;
$color-seller-contrast: #4c8433;

$font-size-xl: 4em;
$font-size-lg: 3em;
$font-size-md: 1em;
$font-size-sm: 0.7em;

$xl: 60px;
$lg: 40px;
$md: 20px;
$sm: 10px;
$xs: 5px;

$border-light: 1px solid $color-light;
$border-dark: 1px solid $color-dark;

@mixin tab($color:$color-base,$border:$border-light) {
	position:relative;
	bottom:-1px;
	background-color: $color;
	padding:$sm $md $sm $sm;
	margin-left:$sm;
	//box-shadow: $shadow;
	border-top: $border-light;
	border-left: $border-light;
	border-right: $border-light;
	border-radius: $xs $xs 0 0;
	/*&:after {
		background: $color-base;
		content: '';
		height: 25px;
		position: absolute;
		top: 3px;
		width: 43px;
		right: -26px;
		transform: rotate(70deg);
		border-bottom: $border-dark;
	}*/
}

%pad-lg {
	padding: $lg;
}
%pad-md {
	padding: $md;
}
%pad-sm {
	padding: $sm;
}
%separator {
	border-bottom: $border-light;
}