@import "globals";
.test-product {
	@extend %separator;
	.prod-image {
		@extend %pad-lg;

		img {
			@extend %pad-md;
			max-width:100%;
			box-sizing:border-box;
			border:$border-light;
		}
	}
	.prod-buy {
		@extend %pad-lg;
		form {
			padding-top: $md;
			.prod-price {
				padding-bottom: $sm;
				strong {
					color: $color-important;
					font-size: $font-size-xl;
				}
			}
			/* override from chico styles*/
			.ch-form-row {
				padding-bottom: $md;
				label {
					width: auto!important;
				}
			}
			.buy {
				legend {
					font-size:$font-size-md;
					color: $color-dark;
				}
			}

		}
		.more-products {
			@extend %pad-lg;
			background-color: $color-quest;
			color: $color-dark;
			h3 {
				& :after {
					content: '\a0';
				}
			}
		}
	}
}