@import "globals";
.test-product {
	@extend %separator;
	figure {
		@extend %pad-lg;

		img {
			@extend %pad-lg;
			max-width:100%;
			box-sizing:border-box;
			border:$border-light;
		}
	}
	section {
		form {
			@extend %pad-lg;
			article {
				margin-bottom:$md;
				strong {
					color: $color-important;
					font-size: $font-size-xl;
				}
			}
			/* override from chico styles*/
			.ch-form-row {
				padding-bottom: $md;
				label {
					width: auto!important;
				}
			}
			.buy {
				legend {
					font-size:$font-size-md;
					color: $color-dark;
				}
			}

		}
		.more-products {
			@extend %pad-lg;
			h3 {
				& :after {
					content: '\a0';
				}
			}
		}
	}
}