@import "globals";
body {
	background-color: $color-base;
}
.container-fluid.header {
	border-bottom: 1px solid $color-light;
	background-color: $color-brand;
}
.container.main {
	max-width: 1170px;
}


