.test-desc-qa {
  padding: 40px; }

.test-desc-qa {
  border-bottom: 1px solid #E0E0E0; }

.test-desc-qa {
  padding-top: 40px; }
  .test-desc-qa .tabs li {
    display: block; }
    .test-desc-qa .tabs li:not(.labels) {
      border: 1px solid #999; }
  .test-desc-qa .tabs .labels:after {
    content: '';
    display: table;
    clear: both; }
  .test-desc-qa .tabs label {
    display: inline-block;
    float: left;
    cursor: pointer; }
    .test-desc-qa .tabs label#desc {
      position: relative;
      bottom: -1px;
      background-color: #E0E0E0;
      padding: 10px 20px 10px 10px;
      margin-right: -10px;
      border-top: 1px solid #999;
      border-left: 1px solid #999;
      border-right: 1px solid #999; }
      .test-desc-qa .tabs label#desc:after {
        background: #f4f4f4;
        content: '';
        height: 25px;
        position: absolute;
        top: 3px;
        width: 43px;
        right: -26px;
        -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
        border-bottom: 1px solid #999; }
    .test-desc-qa .tabs label#quest {
      position: relative;
      bottom: -1px;
      background-color: #E0E0E0;
      padding: 10px 20px 10px 10px;
      margin-right: -10px;
      border-top: 1px solid #999;
      border-left: 1px solid #999;
      border-right: 1px solid #999; }
      .test-desc-qa .tabs label#quest:after {
        background: #f4f4f4;
        content: '';
        height: 25px;
        position: absolute;
        top: 3px;
        width: 43px;
        right: -26px;
        -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
        border-bottom: 1px solid #999; }
    .test-desc-qa .tabs label :hover {
      /*background: #3498db;*/ }
  .test-desc-qa .tabs .tab-content {
    display: none;
    padding: 20px;
    background-color: #E0E0E0; }
  .test-desc-qa .tabs .tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
            animation: scale 0.7s ease-in-out; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
  .test-desc-qa .tabs input[type=radio] {
    display: none; }
  .test-desc-qa .tabs [id^=tab]:checked ~ article[id^=tab-content] {
    display: block; }
