.test-product figure, .test-product figure img, .test-product section form, .test-product section .more-products {
  padding: 40px; }

.test-product {
  border-bottom: 1px solid #E0E0E0; }

.test-product figure img {
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #E0E0E0; }

.test-product section form {
  /* override from chico styles*/ }
  .test-product section form article {
    margin-bottom: 20px; }
    .test-product section form article strong {
      color: #900;
      font-size: 4em; }
  .test-product section form .ch-form-row {
    padding-bottom: 20px; }
    .test-product section form .ch-form-row label {
      width: auto !important; }
  .test-product section form .buy legend {
    font-size: 1em;
    color: #999; }

.test-product section .more-products h3 :after {
  content: '\a0'; }
