body {
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto; }

.container-fluid.nav-header {
  border-bottom: 1px solid #E0E0E0;
  background-color: #ffdb15;
  padding: 10px; }
  .container-fluid.nav-header .test-logo {
    font-size: 4em;
    line-height: 1em;
    color: #f4f4f4;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999; }
    .container-fluid.nav-header .test-logo:hover {
      text-decoration: none; }

.container.main {
  max-width: 1170px; }
